@page "/"
@using OctoFaker.Database.Interfaces
@using System.Diagnostics

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject] public IPersonFirstNameController PersonFirstNameController { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
        List<string> data = new List<string>();
        for (int i = 0; i < 25; i++)
        {
            var a = await PersonFirstNameController.GetRandomPersonFirstName();
            data.Add(a.Id.ToString() + " " + a.FirstName);
            
        }

       


        
    }
}